<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142789429-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142789429-1');
</script>
<title>Jack Vessa Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="https://github.com/jackvessa/JVessa_Portfolio_website/blob/master/images/Profile_pic_.png?raw=true" style="width:45%;" class="w3-round"><br><br>
    <h4><b>Portfolio</b></h4>
    <p class="w3-text-grey">Jack Vessa</p>
  </div>
  <div class="w3-bar-block">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Portfolio</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>About</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Contact</a>
    <a href="https://github.com/jackvessa/JVessa_Portfolio_website/blob/master/Jack%20Vessa%20Resume%20-%20October%202019.pdf" target="_blank" class="w3-bar-item w3-button w3-padding"><i class="fa fa-file fa-fw w3-margin-right"></i>Résumé</a>
  </div>
  <div class="w3-panel w3-large">
    <a href="https://github.com/jackvessa" target="_blank"> <i class="fa fa-github w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/jackvessa" target+"_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
    <!-- <a href="https://medium.com/" target="_blank"> <i class="fa fa-medium w3-hover-opacity"></i> </a> -->
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>My Portfolio</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span>
      <!-- <a href="/"> <button class="w3-button w3-black">HOME</button></a> -->
      <a href="/"> <button class="w3-button w3-white"><i class="fa fa-bar-chart w3-margin-right"></i>Data Science</button></a>
      <!-- <a href="https://medium.com/regarding-real-estate" target="_blank"> <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Real Estate</button></a>
      <a href="/writing"> <button class="w3-button w3-white w3-hide-small"><i class="fa fa-users w3-margin-right"></i>Writing</button></a> -->
    </div>
    </div>
  </header>

  <h4>Projects / Open Source</h4>

  <div class="w3-row-padding">
  <div class="w3-third w3-container w3-margin-bottom">
  <a href="https://github.com/jackvessa/Charity_Recommender" target="_blank">
    <img src="https://github.com/jackvessa/Charity_Recommender/blob/master/IMG/charity_cover.png?raw=true"
    alt="CharityRecommender" style="width:100%" class="w3-hover-opacity"></a>
    <div class="w3-container w3-white">
      <p><b>Charity Recommender</b></p>
      <p>What charity should you donate to?<br/><br/> This project seeks to provide guidance to that question by recommending local charities for a given category.<br/><br/>Tools: AWS EC2, Flask, Matrix Factorization</p>
      </div>
  </div>


    <div class="w3-third w3-container w3-margin-bottom">
    <a href="https://github.com/jackvessa/Genius_Groups" target="_blank">
      <img src="https://github.com/jackvessa/Genius_Groups/blob/master/images/Genius_Groups_Logo.png?raw=true"
      alt="GeniusGroups" style="width:100%" class="w3-hover-opacity"></a>
      <div class="w3-container w3-white">
        <p><b>Genius Groups</b></p>
        <p>Genius Groups is a Web App Built to help teachers Group Students. Syncs with CANVAS CSV File Format.<br/><br/>Tools: AWS EC2, Flask, KMeans Clustering, Cost Function</p>
        </div>
    </div>

    <div class="w3-third w3-container">
    <a href="https://github.com/jackvessa/USA_Charity_Data_Exploration" target="_blank">
      <img src="https://github.com/jackvessa/USA_Charity_Data_Exploration/blob/master/IMG/State_Categories.png?raw=true"
      alt="CharityEDA" style="width:100%" class="w3-hover-opacity"></a>
      <div class="w3-container w3-white">
        <p><b>USA Charities Data Exploration</b></p>
        <p>Exploring USA Charities Data to Find Insights about Charities by Region and Category</p>
        </div>
    </div>
  </div>



  <!-- Third Photo Grid-->
  <h4>Case Studies</h4>
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
    <a href="https://github.com/jackvessa/Fraud_Case_Study" target="_blank">
      <img src="https://github.com/jackvessa/Fraud_Case_Study/blob/master/IMG/Fraud_Cover.png?raw=true"
      alt="Fraud Detection Case Study" style="width:100%" class="w3-hover-opacity"></a>
      <div class="w3-container w3-white">
        <p><b>Fraud Detection Case Study</b></p>
        <p>Fraudulent Events lose user trust and company money. Given previous data about fraudulent events, let's build a model to identify future fraudsters.<br/><br/>Tools: AWS EC2 & S3, Flask, MongoDB, Logistic Regression</p>
        </div>
  </div>

    <div class="w3-third w3-container w3-margin-bottom">
    <a href="https://github.com/jackvessa/Movie_Recommender" target="_blank">
      <img src="https://github.com/jackvessa/Movie_Recommender/blob/master/IMG/Cover_Photo.png?raw=true"
      alt="Churn Case Study" style="width:100%" class="w3-hover-opacity"></a>
      <div class="w3-container w3-white">
        <p><b>Movie Recommender</b></p>
        <p>Can we recommend movies to a user?<br/>How can we solve the cold start problem?<br/><br/>Tools: Matrix Factorization</p>
        </div>
    </div>

    <div class="w3-third w3-container w3-margin-bottom">
    <a href="https://github.com/jackvessa/Rideshare_Churn_Prediction" target="_blank">
      <img src="https://github.com/jackvessa/Rideshare_Churn_Prediction/blob/master/IMG/Rideshare_Churn_Cover.png?raw=true"
      alt="PredictingRideshareChurn" style="width:100%" class="w3-hover-opacity"></a>
      <div class="w3-container w3-white">
        <p><b>Rideshare Churn Prediction</b></p>
        <p>Can we predict if a user will churn (leave our app) based on interactions with our platform?<br/><br/>This case study attempts to build a model to answer that question.<br/><br/>Tools: Gradient Boosting</p>
        </div>
    </div>
  </div>

  <!-- Images of Me -->
  <div class="w3-row-padding w3-padding-16" id="about">
      <div class="w3-container w3-padding-large" style="margin-bottom:32px">
          <h4><b>About Me</b></h4>
          <p>Former HS Math Teacher with a passion for using technology to support students, teachers, and schools around the world.</p>
        </div>
      <div class="w3-row-padding">
        <div class="w3-third">
          <h3>Galvanize Cohort 98</h3>
          <img src="https://github.com/jackvessa/JVessa_Portfolio_website/blob/master/images/Galvanize_g98.jpg?raw=true"
          alt="Galvanize g98" width=100%>
        </div>

        <div class="w3-third">
          <h3>Vanderbilt Graduation</h3>
          <img src="https://github.com/jackvessa/JVessa_Portfolio_website/blob/master/images/College_Graduation.png?raw=true"
          alt="Vanderbilt Graduation" width=100%>
        </div>

        <div class="w3-third">
            <h3>Machu Picchu</h3>
              <img src="https://github.com/jackvessa/JVessa_Portfolio_website/blob/master/images/Macchu%20Picchu.jpg?raw=true"
              alt="Machu Picchu" width=100%>
        </div>
    </div>

    <hr>

      <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
      <a href="https://github.com/gumdropsteve/portfolio_website/raw/master/resume.pdf" target="_blank">
        <i class="fa fa-download w3-margin-right"></i>Download Resume</a>
      </button>
    </p>
  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-grey">
    <h4 id="contact"><b>Contact Me</b></h4>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
      <div class="w3-third w3-dark-grey">
        <a href="mailto:jackvessa@gmail.com?Subject=Portfolio%20"<p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></a></p>
        <p>jackvessa@gmail.com</p>
      </div>
      <div class="w3-third w3-dark-grey">
        <a href="https://www.linkedin.com/in/jackvessa" target="_blank" <p><i class="fa fa-linkedin-square w3-xxlarge w3-text-light-grey"></i></p></a>
        <p>jackvessa</p>
      </div>
      <div class="w3-third w3-dark-grey">
        <a href="tel:5165102821" <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p></a>
        <p>+1 516-510-2821</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <!-- <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>Thank You</h3>
      <p>Thanks for stopping by! If you like the layout, you can check out the <a href="https://github.com/gumdropsteve/portfolio_website" target="_blank">repo here</a>.<br/><br/>Big thanks to w3; base layout and most modifications came from studying their website.</p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div> -->

    <!-- <div class="w3-third">
      <h3>Top Active Repos</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <a href="https://github.com/rapidsai/notebooks-contrib" target="_blank">
          <img src="https://cdn-images-1.medium.com/max/92/1*0jBgSuZf2y8g7JOvWQjsVg@2x.png"
          class="w3-left w3-margin-right" style="width:75px" height=50px>
          <span class="w3-large">Notebooks Extended</span><br></a>
          <span>RAPIDS AI community</span>
        </li>
        <li class="w3-padding-16">
          <a href="https://github.com/gumdropsteve/instagram" target="_blank">
            <img src="https://lh6.googleusercontent.com/lTc-tAT3dibghwd6M8QQjKcQMGUyS87KmonrFrzu31YoxtYpSKptOoZg2JFUszBuvSxDctoEBa-fafF-EZjdlFrCzG8be7ByCG7gUFUQzX2QKCYpHZwZgJ1m8QHYYtMXpGo0cepD"
            class="w3-left w3-margin-right" style="width:75px" height=50px>
            <span class="w3-large">Instagram Bot</span><br></a>
            <span>Influencer automation & analytics</span>
        </li>
      </ul>
    </div> -->

    <!-- <div class="w3-third">
      <h3>Latest Gaming Stories</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <a href="https://medium.com/future-vision/operation-apocalypse-z-ba27d825c9cf" target="_blank">
          <img src="https://miro.medium.com/max/700/0*-BFXS7jpfBPkGByy.png"
          class="w3-left w3-margin-right" style="width:75px" height=50px>
          <span class="w3-large">Operation Apocalypse Z</span><br></a>
          <span>Call of Duty®: Black Ops 4</span>
        </li>
        <li class="w3-padding-16">
          <a href="https://medium.com/future-vision/days-of-summer-event-call-of-duty-black-ops-4-325d4728d152" target="_blank">
            <img src="https://cdn-images-1.medium.com/max/800/0*MNUA0EmJJEk_IPmh.png"
            class="w3-left w3-margin-right" style="width:75px" height=50px>
            <span class="w3-large">Days of Summer event</span><br></a>
            <span>No, it’s not a music festival.</span>
        </li>
      </ul>
    </div> -->

  </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
